body {
    font-family:Hind;
    background-color: #AB921A;
    color: #0064DB;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Libre Baskerville";
    font-size:40pt;
}

header {
    text-align:center;
}

#hero, footer {
    color:#24E040;
    border: 2px solid #00F2D2;
    background-color:#537309;
    text-align:center;
    padding:10px;
}

#hero img {
    width:300px;
}

/* Biography */

#bio {
    text-align: center;
}

/* Hobbies */

#hobbies {
    text-align:center;
    border:1px solid red;
}

#hobbies * {
    border:1px solid;
}

#hobbies ul {
    width: 350px;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}

#hobbies ul li {
    text-align:left;
}

#hobbies ul li:nth-child(3n+1) {
    color: #3c87fa;
}

#hobbies ul li:nth-child(3n+2) {
    color: red;
}

/* Photo Gallery */

#gallery * {
    border:3px black #0749AD;
    text-align:center;
}

#gallery img {
    max-width:100%;
}

/* Lit Section */

#lit p:nth-child(odd)::first-letter {
color:black;
font-size: 250%;
padding: 0.5ex;
margin-right:.5ex;
font-weight:bold;
background-color:#eeeeee;
text-shadow: 5px 5px 5px rgba(0,0,0,.5);
box-shadow:3px 3px 3px rgba(0,0,0,.5);
border-top-left-radius:1em;

float:left;
border:5px double black;
}