body {
    font-family:Hind;
    background-color: #AB921A;
    color: #0064DB;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Libre Baskerville";
    font-size:40pt;
}

header {
    text-align:center;
}

#hero, footer {
    color:#24E040;
    border: 2px solid #00F2D2;
    background-color:#537309;
    text-align:center;
    padding:10px;
}

#hero img {
    width:300px;
}

#bio {
    text-align: center;
}